<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Films</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/films.css">
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <div class="container d-flex flex-column align-items-center">
        <h1 class="my-5">Edit Film</h1>
        <form action="/films/<%= film._id %>?_method=put" method="post">
            <div class="form-group row">
                <label for="inputTitle" class="col-form-label">Film Title: </label>
                  <input type="text" class="form-control" name='title' id="inputTitle" value="<%= film.title %>" placeholder="Film title">
            </div>
            <div class="form-group row">
                <label for="inputReleaseYear" class="col-form-label">Release Year: </label>
                  <input type="number" min="1880" max="2100" name="release_year" value="<%= film.release_year %>" class="form-control" id="inputReleaseYear" placeholder="Release year">
            </div>
            <div class="form-group row">
                <label for="inputRating" class="col-form-label">Rating: </label>
                  <input type="number" min="0" max="10" name='rating' class="form-control" value="<%= film.rating %>" id="inputRating" placeholder="Rating">
            </div>
            <div class="form-group row">
                <label for="inputReview" class="col-form-label">Review: </label>
                  <textarea type='text' name='review' class="form-control" id="inputReview" ><%= film.review %></textarea>
            </div>
            <div class="form-group row">
                <label for="inputPosterLink" class="col-form-label">Poster Link: </label>
                  <input class="form-control" name='poster_link' id="inputposterLink" value="<%= film.poster_link %>" placeholder="Poster link">
            </div>
            <div class="form-group row mt-3">
                <button class="btn btn-outline-success mr-5">Save</button>
                <a href="/films/<%= film._id %> " class="btn btn-outline-danger">Cancel</a>
            </div>
        </form>
    </div>
    <script src="/js/app.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>